<div class="container">
    <div class="col-md-10 col-md-offset-1 main" style="background-color: skyblue">
        <div class="col-md-6 left-side">
            <h3>Welcome to Wax Deal </h3>
            <p>Join and discover great deals to exchange vinyls. </p>
            <br>
        </div>
        <!--col-sm-6-->
        <div class="col-md-6 right-side">
            <h3>Login</h3>
            <!--Form with header-->
            <div class="form">
                <form ng-submit="login($event)">
                    <div class="form-group">
                        <label for="form2">Your usersname / e-mail</label>
                        <input ng-model="username" type="text" id="username" class="form-control input-lg">
                    </div>
                    <div class="form-group">
                        <label for="form4">Your password</label>
                        <input ng-model="password" type="password" id="password" class="form-control input-lg">
                    </div>
                    <div class="text-xs-center">
                        <button class="btn loginbuttonmodal">Login</button>
                    </div>
                </form>
                <div class="notyet">
                <h4>Not yet in our community? Join us and exchange the music you don't use anymore </h4>
                <a ng-hide="loggedUser" href="#!/register" class="signupbuttonmodal">Register</a>
                </div>
            </div>
            <!--/Form with header-->
        </div>
        <!--col-sm-6-->
    </div>
    <!--col-sm-8-->
</div>
<!--container-->
