/* =======================================================
* 	Basic Style 
* ======================================================= */
body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

.row{
  margin:0;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-top: 6em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 1s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a:hover, a:active, a:focus {
  color: #b4b2b2;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 0px 0;
}

::-webkit-selection {
  color: #fff;
  background: black;
}

::-moz-selection {
  color: #fff;
  background: black;
}

::selection {
  color: #fff;
  background: black;
}

.fh5co-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  z-index: 1;
  background: white;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding-top: 5px;
  }

.fh5co-nav a{
    font-size: 18px
}

  .logowax {
    height: 60px;
    margin-left: 12px
  }

  .fh5co-nav #fh5co-logo{
    width: 180px
  }
}


/*
-----------------------------*/
.logowax{
  margin-right: 10px;
}


.fh5co-nav .fh5co-top-logo,
.fh5co-nav .fh5co-top-menu,
.fh5co-nav .fh5co-top-social {
  float: left;
}
.fh5co-nav .fh5co-top-logo {
  width: 30%;
}

.fh5co-nav .fh5co-top-menu {
  width: 50%;
}
.fh5co-nav .fh5co-top-social {
  width: 20%;
}
.fh5co-nav #fh5co-logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway", Arial, sans-serif;
}

.fh5co-nav .fh5co-social {
  padding: 0;
  margin-top: 35px;
}
.fh5co-nav .fh5co-social li {
  padding: 0;
  margin: 0;
}
.fh5co-nav .fh5co-social li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.fh5co-nav a {
  padding: 5px 0;
  color: #000;
}
div.col-md-8.col-md-offset-2.text-center.fh5co-heading p{
  color: white
}


.fh5co-heading h2::selection {
  color: yellow;
  background: white;
}

div.col-md-8.col-md-offset-2.text-center.fh5co-heading p::selection {
  color: yellow;
  background: white;
}


@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
}

.fh5co-nav .menu-2 li.search {
  float: left;
  width: 20%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: -5px 0 0 0;
}
.fh5co-nav .menu-2 li input[type=text] {
  padding: 6px 10px;
  width: 50%;
  border: none;
  float: right;
  font-size: 18px;
  color: white
  margin-top: 4px;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-nav .menu-2 li input[type=text]:focus {
  width: 100%;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fh5co-nav .menu-2 li button {
  margin-top: 4px;
  padding: 5px;
  background: transparent;
  border: none;
}
.fh5co-nav .menu-2 li button i {
  color: rgba(0, 0, 0, 0.5);
}
.fh5co-nav .menu-2 li button:hover, .fh5co-nav .menu-2 li button:focus {
  background: transparent;
}
.fh5co-nav .menu-2 li button:hover i, .fh5co-nav .menu-2 li button:focus i {
  color: black;
}
.fh5co-nav ul {
  padding: 0;
    margin-top: 41px;
    margin-left: 65px;
  font-weight: bold;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  font-family: "Raleway", Arial, sans-serif;

}
.fh5co-nav ul li a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 10px;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: red;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 150px;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.55);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #000;
}
.fh5co-nav ul li.active > a {
  color: #cabcab;
}
.fh5co-nav ul li .form-group {
  border: 1px solid red;
  width: 100%;
}

.about-content {
  margin-bottom: 7em;
}
.about-content img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
}
.about-content .desc {
  margin-bottom: 3em;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
}
.fh5co-staff img {
  width: 170px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.fh5co-social-icons {
  margin: 20px;
  padding: 0;
}

.fh5co-social-icons a:hover {
 color: red;
}

.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.fh5co-contact-info ul {
  padding: 20px;
  margin: 30px 0 30px 0;
  margin: 0;
  font-size: 20px
  color: black;
}
.fh5co-contact-info ul li {
    list-style: none;
    position: relative;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    margin-right: 10px

}

.fh5co-heading h3 {
    font-size: 18px;
    margin-bottom: 18px;
    color: black;
}

.contacticons{
  font-size: 30px
  color: red;
  margin-right: 10px
}

.contactbutton{
  background: #2791ee;
  border-radius: 0;
  padding: 12px 113px;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
.contactbutton {
    padding: 12px 58px;
}
}

.contactbutton:hover{
  background: #4caf50
}


.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-started,
#fh5co-author,
#fh5co-work,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-started,
  #fh5co-author,
  #fh5co-work,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}

.feature-center {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.feature-center .desc {
  padding-left: 180px;
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #cabcab;
  display: table;
  text-align: center;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
    text-align: center;
  }
  .feature-center .icon {
    margin: 0 auto 30px auto;
  }
}

.work .work-grid {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 350px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 0.1px solid rgba(67, 67, 67, 0.3)
}

@media screen and (max-width: 768px) {
  .work .work-grid .inner {
    opacity: 1;
    background: rgba(237, 235, 232, 0.7);
  }
}
.work .work-grid .inner .desc {
  display: table-cell;
  vertical-align: middle;
  padding: 40px;
}
.work .work-grid .inner .desc h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.work .work-grid .inner .desc h3 a {
  color: #000;
}
.work .work-grid .inner .desc .cat {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .work .work-grid .inner .desc .cat {
    color: #333333;
  }
}
.work:hover .inner, .work:focus .inner {
  opacity: 1;
}
.work:hover .desc h3 a, .work:focus .desc h3 a {
  color: #cabcab;
}

.top-line {
  padding-bottom: 7em;
}


@media screen and (max-width: 768px) {
 .top-line {
  padding-bottom: 25px;
  }
}


.top-line .fh5co-heading {
  margin-bottom: 0;
  text-align: left;

}

.categories {
  padding: 0;
  margin: 0;
}
.categories li {
  font-family: "Raleway", Arial, sans-serif;
  list-style: none;
  margin-bottom: 5px;
}
.categories li.cat {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}
.categories li a:hover {
  color: #000;
}

.intro h2 {
  font-size: 49px;
  line-height: 55px;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .intro h2 {
    font-size: 30px;
    line-height: 45px;
  }
}
.intro h2 .fh5co-highlight {
  display: block;
  font-size: 16px;
}
.intro h2 .fh5co-highlight i {
  position: relative;
  top: 1px;
}

.fh5co-heading {
  margin-bottom: 5em;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}
.fh5co-heading h3 {
  font-size: 18px;
}
.fh5co-heading p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: black;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Raleway", Arial, sans-serif;
}

.title {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
}

.author {
  width: 100%;
  float: left;
  margin-bottom: 5em;
}
.author .author-inner {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  width: 40%;
  height: 350px;
  float: left;
}
@media screen and (max-width: 480px) {
  .author .author-inner {
    width: 100%;
    margin-bottom: 40px;
  }
}
.author .desc {
  width: 60%;
    float: left;
    padding-left: 50px;
    font-size: 16px;
    font-weight: lighter;

}

.author .desc p {
   margin-top: 20px
}

.author .desc span {
   font-weight: bold
}
@media screen and (max-width: 480px) {
  .author .desc {
    width: 100%;
    padding-left: 0;
  }
}
.author .desc span {
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.author .desc .fh5co-social-icons li a {
  color: #cabcab;
  padding-left: 0;
  padding-right: 10px;
}

#fh5co-started {
  background: #000000;
}
#fh5co-started .fh5co-heading {
  margin-bottom: 20px;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px;
}

#fh5co-started .btn {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0;
  padding-left: 70px;
  padding-right: 70px;
}
#fh5co-started .btn:hover {
  background: #4CAF50;
  color: #fff;
}

#fh5co-footer {
  background: rgb(241, 241, 241);
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: #000;
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 255px;
  text-align: center;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: white;
}
#fh5co-offcanvas a:hover {
  color: yellow;
}
#fh5co-offcanvas .fh5co-social {
  margin-top: 50px;
}
#fh5co-offcanvas .fh5co-social li {
  display: inline;
  margin-right: 10px;
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
  font-size: 20px;

}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li.search {
  float: left;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 5px 0 0 0;
}
#fh5co-offcanvas ul li input[type=text] {
  padding: 6px 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  float: right;
  font-size: 13px;
  margin-top: 4px;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-offcanvas ul li input[type=text]:focus {
  width: 100%;
  outline: none;
}
#fh5co-offcanvas ul li button {
  margin-top: 4px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 1px;
}
#fh5co-offcanvas ul li button i {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas ul li button:hover, #fh5co-offcanvas ul li button:focus {
  background: transparent;
}
#fh5co-offcanvas ul li button:hover i, #fh5co-offcanvas ul li button:focus i {
  color: white;
}
#fh5co-offcanvas ul li.shopping-cart {
  float: left;
}
#fh5co-offcanvas ul li a.cart {
  display: block;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas ul li a.cart span {
  position: relative;
}
#fh5co-offcanvas ul li a.cart span small {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #cabcab;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  margin-top: 5px
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .1s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #000;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #000;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  background: #fff;
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  background: #fff;
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 16px;
    top: 20px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn.btn-md {
  padding: 8px 20px;
}
.btn.btn-lg {
  padding: 15px 96px;
}


.searchmusichome {
    background: transparent;
    border-radius: 0px;
    padding: 10px 52px;
    font-size: 18px;
    border: solid 2px black;
    color: black
}


.searchmusichome:hover {
  background: black;
  border-radius: 0px;
  color: white;
  
}

@media screen and (max-width: 768px) {
  .searchmusichome {
 padding: 12px 94px 12px;
 font-size:16px
  }
  .exchangemarketclaim{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;

  }
}


.login {
  color: #fff
  font-size: 25px;
  background: #2791ee;
  border-radius: 0;
  padding: 15px 96px;
}

a.btn.btn-primary-btn-lg.login:hover{
  font-size: 19px;
  background: #green;
}



.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 14px;
  font-weight: 300;
  color: black:;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #cabcab;
}

.row-pt-md {
  padding-top: 4em;
}

.row-pb-md {
  padding-bottom: 4em;
}

.row-pb-sm {
  padding-bottom: 2em;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

.testimony {
  margin: 5em 0;
}
@media screen and (max-width: 768px) {
  .testimony {
    margin: 3em 0;
  }
}

blockquote {
  padding-left: 0;
  border-left: none;
  text-align: center;
}
blockquote p {
  font-family: "Georgia", Times;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5;
  color: #666666;
}
blockquote .person {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 14px;
  color: #b3b3b3;
}
blockquote .person cite {
  font-style: normal;
  color: #000;
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child{
  font-style: normal;
  color: red;
}

.portfolio-navigation i {
  font-size: 20px;
  position: relative;
  top: 3px;
}

.role {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.role h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.role ul {
  padding: 0;
  margin: 0;
}
.role ul li {
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
}

/* #####################################################################
   #
   #   login form
   #
   ##################################################################### */



.form-wrapper{
max-width: 767px;
padding: 100px 0;
}
@media(max-width: 767px){
.form-wrapper:after{
height: 40%;
left: -7%;
}
}
@media(max-width: 540px){
.form-wrapper:after{
height: 25%;
}
}
@media(max-width: 340px){
.form-wrapper:after{
height: 20%;
}
}
.form-wrapper .my-form{
width: 90%;
overflow: auto;
margin: 0 auto;
background: black;
position: relative;
z-index: 9;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.my-form .info{
padding: 15px;
height: 100%;
}
.my-form .info .carousel-caption{
margin: 0;
padding: 0;
bottom: 50px;
right: 0;
left: 0;

}

div.carousel-caption p{
  color: white;
}
.my-form .carousel-indicators .active{
background: #FFEB3B;
border-color: rgba(0, 0, 0, 0.5)
}
.my-form .item{
padding: 60px 0;
min-height: 300px;
}
.my-form .form-bg{
background: #fff;
padding: 15px
}
.main-form .nav > li{
width: 50%;
}
.main-form .nav-tabs > li > a{
border-radius: 0;
display: inline-block;
width: 100%;
text-align: center;
outline: 0;
text-transform: uppercase;
color: black;
font-weight: 600;
font-size: 13px;
}
.main-form .nav-tabs > li > a:hover{
color: red;
}
.main-form .form-control{
height: 50px;
margin-top: 15px;
border-radius: 0;
box-shadow: none;
border:1px solid #f0f0f0;
}
.main-form .form-control:focus{
border-color: #fc80b2;
}
.main-form .checkbox{
margin-left: 20px;
color: #999;
}
.main-form .checkbox a{
color: green;
}
.main-form .btn-submit{
display: block;
background: #2791ee;
color: #fff;
border-radius: 0;
width: 100%;
text-transform: uppercase;
margin-top: 15px;
padding: 12px;
}

.main-form .tab-content{
padding: 60px 0;
}

.datalogin{
    font-size: 20px;
    margin-top: 10px;
    padding: 0;
    text-align: left;
}

.loginformmodal p{
    color: black;
    text-align: left;
}
.carousel-inner{
      margin-top: 60px;
}

.loginsignupmodal {
  color: black;
  text-align: left;
  line-height: 1.6;
}

.loginsignupmodal p{
font-size: 15px
}

/*---------------------------*/

/*Profile section*/

/*-----------------------------*/

.margenprofile{
  margin-top: 50px;
  padding: 0px;
}

.profileinfo p{
  font-size: 16px;
  font-weight: lighter;

}

.boxborder {
  border-radius: 0px;
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.profilepicture{
 max-width: 80%;
}

@media screen and (max-width: 768px) {
  .profilepicture {
  max-width: 60%;
  margin-bottom: 20px;
  align-items: center;
  margin-left: 50px
  }
}


.borderbuttonprofile{
      border-radius: 0;
      margin-top: 20px

}

.borderbuttonprofile:hover {
    background-color: #000000;
}


.searchbutton{
      padding: 16px;
}

.searchmusicbutton{
    background: transparent;
    margin-top: 5px;
    border-radius: 0;
    padding: 5px 35px 5px 35px;
    font-size: 20px;
    border: solid 2px black;
    color: black;

}

.searchmusicbutton:hover{
background-color: #000000;
color: white
}

.followmebutton{
  padding: 6px 22px;
  background: #03A9F4;
  color: white;
}

.followmebutton:hover{
  color: white;
}

@media screen and (max-width: 768px) {
  
  .searchmusicbutton {
  padding: 10px 56px 10px;
}
.contactmebutton {
 padding: 10px 22px 10px;
  }
   .followmebutton {
 padding: 10px 33px
  }
}


/*---------------------------*/

/*disc section*/

/*-----------------------------*/

.profile-widget {
  position: relative;
}
.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 190px 0 10px;
}
.profile-widget .image-container .profile-background {
  width: 100%;
  height: auto;
}
.profile-widget .image-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto -60px;
  display: block;
}
.profile-widget .details {
  padding: 50px 15px 15px;
  text-align: center;
}
/* End Component: Profile Widget */
/********************************************************************
*********************************************************************
*********************************************************************/
/* Component: Mini Profile Widget */
.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  padding: 4px;
  border: 1px solid #dddddd;
}
.mini-profile-widget .details {
  text-align: center;
}



/* Component: Panel */
.panel {
  border-radius: 0;
  margin-bottom: 30px;
}
.panel.solid-color {
  color: white;
}
.panel .panel-heading {
  border-radius: 0;
  position: relative;
}
.panel .panel-heading > .controls {
  position: absolute;
  right: 10px;
  top: 12px;
}
.panel .panel-heading > .controls .nav.nav-pills {
  margin: -8px 0 0 0;
}
.panel .panel-heading > .controls .nav.nav-pills li a {
  padding: 5px 8px;
}
.panel .panel-heading .clickable {
  margin-top: 0px;
  font-size: 12px;
  cursor: pointer;
}
.panel .panel-heading.no-heading-border {
  border-bottom-color: transparent;
}
.panel .panel-heading .left {
  float: left;
}
.panel .panel-heading .right {
  float: right;
}
.panel .panel-title {
  font-size: 16px;
  line-height: 20px;
}
.panel .panel-title.panel-title-sm {
  font-size: 18px;
  line-height: 28px;
}
.panel .panel-title.panel-title-lg {
  font-size: 24px;
  line-height: 34px;
}
.panel .panel-body {
  font-size: 13px;
  margin-top: 20px;

}
.panel .panel-body > .body-section {
  margin: 0px 0px 20px;
}
.panel .panel-body > .body-section > .section-heading {
  margin: 0px 0px 5px;
  font-weight: bold;
}
.panel .panel-body > .body-section > .section-content {
  margin: 0px 0px 10px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white > .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}
.panel-primary {
  border: 1px solid #dddddd;
}
.panel-purple {
  border: 1px solid #dddddd;
}
.panel-purple > .panel-heading {
  color: #fff;
  background-color: #8e44ad;
  border: none;
}
.panel-purple > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-purple {
  border: 1px solid #dddddd;
}
.panel-light-purple > .panel-heading {
  color: #fff;
  background-color: #9b59b6;
  border: none;
}
.panel-light-purple > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-blue,
.panel-info {
  border: 1px solid #dddddd;
}
.panel-blue > .panel-heading,
.panel-info > .panel-heading {
  color: #fff;
  background-color: #2980b9;
  border: none;
}
.panel-blue > .panel-heading .panel-title a:hover,
.panel-info > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-blue {
  border: 1px solid #dddddd;
}
.panel-light-blue > .panel-heading {
  color: #fff;
  background-color: #3498db;
  border: none;
}
.panel-light-blue > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-green,
.panel-success {
  border: 1px solid #dddddd;
}
.panel-green > .panel-heading,
.panel-success > .panel-heading {
  color: #fff;
  background-color: #27ae60;
  border: none;
}
.panel-green > .panel-heading .panel-title a:hover,
.panel-success > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-green {
  border: 1px solid #dddddd;
}
.panel-light-green > .panel-heading {
  color: #fff;
  background-color: #2ecc71;
  border: none;
}
.panel-light-green > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-orange,
.panel-warning {
  border: 1px solid #dddddd;
}
.panel-orange > .panel-heading,
.panel-warning > .panel-heading {
  color: #fff;
  background-color: #e82c0c;
  border: none;
}
.panel-orange > .panel-heading .panel-title a:hover,
.panel-warning > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-orange {
  border: 1px solid #dddddd;
}
.panel-light-orange > .panel-heading {
  color: #fff;
  background-color: #ff530d;
  border: none;
}
.panel-light-orange > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-red,
.panel-danger {
  border: 1px solid #dddddd;
}
.panel-red > .panel-heading,
.panel-danger > .panel-heading {
  color: #fff;
  background-color: #d40d12;
  border: none;
}
.panel-red > .panel-heading .panel-title a:hover,
.panel-danger > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-red {
  border: 1px solid #dddddd;
}
.panel-light-red > .panel-heading {
  color: #fff;
  background-color: #ff1d23;
  border: none;
}
.panel-light-red > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-pink {
  border: 1px solid #dddddd;
}
.panel-pink > .panel-heading {
  color: #fff;
  background-color: #fe31ab;
  border: none;
}
.panel-pink > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-light-pink {
  border: 1px solid #dddddd;
}
.panel-light-pink > .panel-heading {
  color: #fff;
  background-color: #fd32c0;
  border: none;
}
.panel-light-pink > .panel-heading .panel-title a:hover {
  color: #f0f0f0;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-group .panel + .panel {
  margin-top: 0;
  border-top: 0;
}

/* Component: Posts */
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.margindisc{
      margin-top: 60px;
}


/*-------------------------------------

SEARCH PAGE

-------------------------------------*/

.exchangemarketclaim{
  margin-left: 15px;
  margin-bottom: 40px
}

.exchangemarketclaim h2 span{
  font-style: italic;
}
.grid {
    position: relative;
    width: 100%;
    background: #fff;
    color: #666666;
    border-radius: 2px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.grid .grid-body {
    padding: 15px 20px 15px 20px;
    font-size: 0.9em;
    line-height: 1.9em;
}

.search table tr td.rate {
    color: #f39c12;
    line-height: 50px;
}

.search table tr:hover {
    cursor: pointer;
}

.search table tr td.image {
  width: 50px;
}

.search table tr td img {
  width: 300px;
  height: 300px;
}

.search table tr td.rate {
  color: #f39c12;
  line-height: 50px;
  font-size: 20px;

}

.search table tr td.price {
  font-size: 1.5em;
  line-height: 50px;
}

.search #price1,
.search #price2 {
  display: inline;
  font-weight: 600;
}

.searchbox{
   margin-top: 60px;
}
.orderby{
    margin-bottom: 20px;
    border-radius: 0;


}

td.vinylproduct{
  font-size: 14px
}

p{
  margin:0;
}

@media screen and (max-width: 768px) {
.hidefilters{
  display: none
}
}

/*
--------------------------------

panel 


-----------------------------------*/

.profileinfo{
  padding: 0px;

}


.profileinfo h3{
  margin-left: 15px;
  
}

.profileinfo p{
  color: black;
  padding: 0px;
margin-bottom: 15px;
   margin-left: 15px;
   font-size: 18px;
}

.hipanel{
      margin-top: 25px;
    margin-left: 50px;
}

.panelformat{
    margin-top: 30px;

}

.fromlibrarybutton{
    background: transparent;
    margin-top: 5px;
    border-radius: 0;
    padding: 5px 35px 5px 35px;
    font-size: 20px;
    border: solid 2px black;
    color: black;
}

.fromlibrarybutton:hover{
background: black;
color: white;
}

.control-label{
    color: black;
    font-size: 20px;
    margin-left: 2px;
     text-align: left;
}


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left
  }

.inputnamemusic{
  border-radius: 0px;
}

.formmargin{
 margin-top: 50px;

}

.searchmusichomepanel{
    background: transparent;
    border-radius: 0px;
    padding: 10px 60px;
    font-size: 18px;
    border: solid 2px black;
    color: black;
    margin: 20px -5px 40px;

}

.searchmusichomepanel:hover {
  background: black;
  border-radius: 0px;
  color: white;
  
}


/*
--------------------------------

panel profile

-----------------------------------*/

.panelprofile{
  margin-top: 50px
}

.tablemargin{
    margin-top: 30px;
    margin-bottom: 30px;
}
