<div class="container">
    <div class="container target">
        <div class="row margenprofile">
            <div class="col-sm-3 ">
                <a href="/users"><img title="profile image" class="img-circle img-responsive profilepicture" src="img/portadas/disco6.png"></a>
                <div class="hipanel">
                    <h3>HI {{title}}</h3>
                </div>
            </div>
            <div class="col-md-8 profileinfo">
                <h3>Any new vinyl you want to exchange?</h3>
                <p>You can find your Vinyl on Discogs or either upload the information of your vinyl.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 panelformat">
                        <div class="well">
                            <ul class="tabs">

                                <li ng-repeat="tab in tabs" ng-class="{active: current == tab.name}">
                                    <span ng-model="tab.name" ng-click="toggleTab(tab)"></span>
                                </li>
                            </ul>
                                 <div ng-include="tab" class="tabs-data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
