<div id="fh5co-work">
    <div class="container">
        <div class="row top-line">
            <div class="col-md-7 col-md-push-5 text-left intro">
                <h5>{{3+3}}</h5>
                <h2>Exchange the vinyls you don't want anymore & discover new music. <span class="fh5co-highlight">Made with <i class="fa fa-heart"></i> by <a href="http://www.itswaxtime.com">Itswaxtime</a> </span></h2>
                <a type="button" class="btn searchmusichome" href="#!/search">SEARCH MUSIC</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 exchangemarketclaim">
                    <h2> Look whats on our <span> exchange market </span>this week. 😎️ It could be your lucky day!!! </h2>
                </div>
            </div>
            <!-- 
            <!- - Albumtitle, ArtistAlbum, VinylCode, Genre,Country, image -->
            <div class="col-sm-6  col-md-4" ng-repeat="deal in waxdeals">
                <a data-toggle="modal" data-target="#modalrecord_{{deal.id}}" class="thumbnail boxborder ">
                    <img alt="300x300 " src="{{deal.image}}">
                    <div class="caption desc ">
                        <h4 href="#!/disc"> {{deal.Albumtitle}}</h4>
                        <p> {{deal.ArtistAlbum}}</p>
                    </div>
                </a>
            </div>


            <div ng-include="'templates/includes/recordmodal.html'"></div>
        </div>
    </div>
</div>
<div id="fh5co-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading getstarted">
                <h2>Get Started</h2>
                <p>You're stuck in the middle (Yeah, yeah). Too low to get under (Yeah, yeah). You're stuck in the middle (Yeah, yeah). It's too high to get over (Yeah, yeah). I'm Asking Him To Change. I told you that you sure looked good, now. (Na Na Na, Na Na Na, Na Na,. They Follow The Pattern Of. You're stuck in the middle (Yeah, yeah).</p>
                <a class="btn btn-lg login" role="button" data-toggle="modal" data-target="#login-modal">LET'S EXCHANGE</a>
                <div ng-include="'templates/includes/login.html'"></div>
                <!-- BEGIN # MODAL LOGIN -->
                <!-- END # MODAL LOGIN -->
            </div>
        </div>
    </div>
</div>
</div>
