<div class="container">
    <div class="container target">
        <div class="row margenprofile">
            <div class="col-sm-3 ">
                <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive profilepicture" src="img/portadas/disco6.png"></a>
            </div>
            <div class="col-md-9 profileinfo">
                <h1 class="">Wally Torres</h1>
                <p>Young, wild and free.
                    <br> It's the most beautiful lie that you've ever been told. </p>
                <button type="button" class="btn btn-success borderbuttonprofile contactmebutton">Contact me!</button>
<!--                 <a href="whatsapp://send?text=Hello%20World!">Hello, world!</a>
 -->                <a type="button" class="btn borderbuttonprofile followmebutton">Follow me </a>
                <br>
                <div>
                <a type="button" href="#!/search" class="btn searchmusicbutton"> SEARCH MUSIC</a>
                </div>
                <div>
                <a type="button" href="#!/panel" class="btn searchmusicbutton"> UPLOAD MUSIC</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 contenteditable " false " style="margin-top: 30px; ">
                    <div class="panel panel-default target boxborder ">
                        <div class="panel-heading " contenteditable="false ">
                              <h3> This is the music I want to exchange, Any music to make a deal?</h3>
                        </div>
                        <div class="panel-body ">
                            <div class="row ">
                             <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco7.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco8.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco9.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco10.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco11.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco12.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco13.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                               <div class="col-sm-6 col-md-4 ">
                                <a href="#!/disc " class="thumbnail boxborder ">
                                <img alt="300x300 " src="img/portadas/disco14.png ">
                                <div class="caption desc ">
                                <h4 href="#! ">DISC TITLE</h4>
                                <p> Disc description</p>
                            </div>
                             </a>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
