<div class="container searchbox">
    <div class="row">
        <!-- BEGIN SEARCH RESULT -->
        <div class="col-md-12">
            <div class="grid search">
                <div class="grid-body">
                    <div class="row">
                        <!-- BEGIN FILTERS -->
                        <div class="col-md-3 hidefilters">
                            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                            <hr>
                            <!-- BEGIN FILTER BY CATEGORY -->
                            <h4>By category:</h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Electronic</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Rock</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Pop</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Funk/Soul</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Jazz/blues</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Hip Hop</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Classical</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Reggae</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Latin</label>
                            </div>
                        </div>
                        <!-- END FILTERS -->
                        <!-- BEGIN RESULT -->
                        <div class="col-md-9">
                            <h2><i class="fa fa-file-o"></i> Result</h2>
                            <hr>
                            <!-- BEGIN SEARCH INPUT -->
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                <button class="btn btn-primary searchbutton" type="button"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <!-- END SEARCH INPUT -->
                            <p>Try to look what on our plataform, probably is your lucky day 👾>
                                <div class="padding"></div>
                                <div class="row orderby">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6" >
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle orderby" data-toggle="dropdown">
                                                Order by <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Album Name</a></li>
                                                <li><a href="#">Artist </a></li>
                                                <li><a href="#">Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->
                                </div>
                                <!-- BEGIN TABLE RESULT -->
                                <div class="table-responsive" ng-repeat="deal in waxdeals">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td class="number text-center"><strong>1</strong></td>
                                                <td class="image">
                                                    <a href="#/disc" data-toggle="modal" data-target="#modalrecord_{{ deal._id }}"><img src="{{deal.image}}" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>{{deal.Albumtitle}}</h3>
                                                    <p>{{deal.ArtistAlbum}}</p>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            

                                               <div ng-include="'templates/includes/recordmodal.html'"></div>
                                               </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END TABLE RESULT -->
                                <!-- BEGIN PAGINATION -->
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                                <!-- END PAGINATION -->
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END SEARCH RESULT -->
    </div>
</div>
<div id="fh5co-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Get Started</h2>
                <p>You're stuck in the middle (Yeah, yeah). Too low to get under (Yeah, yeah). You're stuck in the middle (Yeah, yeah). It's too high to get over (Yeah, yeah). I'm Asking Him To Change. I told you that you sure looked good, now. (Na Na Na, Na Na Na, Na Na,. They Follow The Pattern Of. You're stuck in the middle (Yeah, yeah).</p>
                <a class="btn btn-lg login" role="button" data-toggle="modal" data-target="#login-modal">LET'S EXCHANGE</a> 

                <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="container">
        <div class="row form-wrapper ">
            <div class="col-sm-12 col-md-offset-3">
                <div class="my-form">
                    <div class="col-sm-6">
                        <div class="info">
                            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-id" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="img/icons/1496243924_disc-vinyl.png" class="img-responsive center-block" alt="">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>Who wants honey. And take my hand</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/icons/1496243869_Music.png" class="img-responsive center-block" alt="">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p> I lost where I began.. As far as you take me, that's where I believe.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img src="img/icons/1496243895_ipod.png" class="img-responsive center-block" alt="">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>. And all I see is you.. Love, Love. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-bg">
                        <div class="main-form">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a aria-controls="login" role="tab" data-toggle="tab" aria-expanded="true" data-target="#login">Login</a>
                                    </li>
                                    <li role="presentation">
                                        <a  aria-controls="signup" role="tab" data-toggle="tab" aria-expanded="false" data-target="#signup">Signup</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="login">
                                        <form class="loginformmodal" action="" method="get" accept-charset="utf-8">
                                            <div class="datalogin loginformmodal">
                                                <p>Username</p>
                                            </div>
                                            <input class="form-control" type="email" name="" value="">
                                            <div class="datalogin loginformmodal">
                                                <p>Password</p>
                                            </div>
                                            <input class="form-control" type="password" name="" value="">
                                      <!--       <div class="checkbox">
                                                <input type="checkbox" name="" value=""> Remember. <a href="" title="">Forgot Password?</a></div> -->
                                            <a href="#/profile" class="btn btn-submit" type="button" target="_parent">LOGIN></a> 
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="signup">
                                        <form action="" method="get" accept-charset="utf-8">
                                            <div class="loginsignupmodal">
                                                <h3>Not yet in our community</h3> 
                                                <p style="color:black"> Sign up & start exchanging music that you don´t want anymore but someone will enjoy!!</p>
                                            </div>
                                            <input class="form-control" type="text" name="" value="" placeholder="Full Name">
                                            <input class="form-control" type="email" name="" value="" placeholder="Email">
                                            <input class="form-control" type="password" name="" value="" placeholder="Password">
                                            <div class="checkbox">
                                                <input type="checkbox" name="" value=""><a href="" title="">Send me Newsletter</a></div>
                                            <input class="btn btn-submit" type="submit" name="" value="Sign up">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->


            </div>
        </div>
    </div>
</div>
</div>
