<div id="fh5co-author">
    <div class="container">
        <div class="row top-line animate-box">
            <div class="col-md-8 col-md-push-2 text-left fh5co-heading">
                <h2>About Us</h2>
                <p>In My Life, I've loved them all. (1409607566242). Honey pie, honey pie. Still my guitar gently weeps. I sit alone at home and I cry over you. (1409607566242). I look at the floor and I see it needs sweeping.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="author">
                    <div class="author-inner animate-box" style="background-image: url(img/portadas/disco15.png);">
                    </div>
                    <div class="desc animate-box">
                        <span>Exchange your vinyls &amp; enjoy</span>
                        <h3>WAX DEAL</h3>
                        <p>I can't get no satisfaction.. and he's tellin' me more and more. I can't get no, oh no no no.. Hmm. I must admit you broke my heart. 'Cause I try and I try and I try and I try.. (1409607566242). I, I, I, I, I, I. When I'm drivin' in my car.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p><img src="img/about.png" class="img-responsive" alt="wax deal by itswaxtime"></p>
                <div class="testimony animate-box">
                    <blockquote>
                        <p>&ldquo;The best way to get new music in vinyl format and get to know people with similar tastes os music&rdquo;</p>
                        <p class="person">
                            <cite>&mdash; Job Smith </cite> DISCOGS &mdash;</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div id="fh5co-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Get Started</h2>
                <p>You're stuck in the middle (Yeah, yeah). Too low to get under (Yeah, yeah). You're stuck in the middle (Yeah, yeah). It's too high to get over (Yeah, yeah). I'm Asking Him To Change. I told you that you sure looked good, now. (Na Na Na, Na Na Na, Na Na,. They Follow The Pattern Of. You're stuck in the middle (Yeah, yeah).</p>
                <a href="#" class="btn btn-primary login" role="button" data-toggle="modal" data-target="#login-modal">LET'S EXCHANGE</a>
                <!-- BEGIN # MODAL LOGIN -->
                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="container">
                        <div class="row form-wrapper ">
                            <div class="col-sm-12 col-md-offset-3">
                                <div class="my-form">
                                    <div class="col-sm-6">
                                        <div class="info">
                                            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                                                    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                                                    <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item">
                                                        <img src="img/icons/1496243924_disc-vinyl.png" class="img-responsive center-block" alt="">
                                                        <div class="container">
                                                            <div class="carousel-caption">
                                                                <p>Who wants honey. And take my hand</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img src="img/icons/1496243869_Music.png" class="img-responsive center-block" alt="">
                                                        <div class="container">
                                                            <div class="carousel-caption">
                                                                <p> I lost where I began.. As far as you take me, that's where I believe.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item active">
                                                        <img src="img/icons/1496243895_ipod.png" class="img-responsive center-block" alt="">
                                                        <div class="container">
                                                            <div class="carousel-caption">
                                                                <p>. And all I see is you.. Love, Love. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-bg">
                                        <div class="main-form">
                                            <div role="tabpanel">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Signup</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="login">
                                                        <form action="" method="get" accept-charset="utf-8">
                                                            <div class="datalogin">
                                                                <p>Username</p>
                                                            </div>
                                                            <input class="form-control" type="email" name="" value="">
                                                            <div class="datalogin">
                                                                <p>Password</p>
                                                            </div>
                                                            <input class="form-control" type="password" name="" value="">
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="" value=""> Remember. <a href="" title="">Forgot Password?</a></div>
                                                            <input class="btn btn-submit" type="submit" name="" value="Login">
                                                        </form>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane" id="signup">
                                                        <form action="" method="get" accept-charset="utf-8">
                                                            <input class="form-control" type="text" name="" value="" placeholder="Full Name">
                                                            <input class="form-control" type="email" name="" value="" placeholder="Email">
                                                            <input class="form-control" type="password" name="" value="" placeholder="Password">
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="" value=""><a href="" title="">Send me Newsletter</a></div>
                                                            <input class="btn btn-submit" type="submit" name="" value="Sign up">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END # MODAL LOGIN -->
            </div>
        </div>
    </div>
</div>
</div>
