    <div id="fh5co-contact">
        <div class="container">
            <div class="row top-line animate-box">
                <div class="col-md-8 col-md-push-2 text-left fh5co-heading">
                    <h2>Say Hello</h2>
                    <h3>Any comment or suggestions?</a></h3>
                    <p>Don't you know my name. And I could have the faintest idea. We prick you we prick you we prick you. Feels like pain again. When I met you (When I met you). For I could not see. Counting the windows. Those who feel me
                        <near class=""></near>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-5 col-md-pull-1">
                        <div class="fh5co-contact-info">
                            <h3>Contact Information</h3>
                            <ul>
                                <li><i class="fa fa-map-marker contacticons" aria-hidden="true"></i>Calle Bailen 201, 1,2</li>
                                <li><i class="fa fa-phone contacticons" aria-hidden="true"></i> +1235 2355 98 </li>
                                <li><i class="fa fa-envelope-o contacticons" aria-hidden="true"></i><a href="mailto: hola@itswaxtime.com">hola@itswaxtime.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <h3>Get In Touch</h3>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="fname">Your Name</label>
                                    <input type="text" id="fname" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Send Message" class="btn btn-primary login contactbutton">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-started">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Get Started</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, similique, aperiam. Earum ipsum aliquid cumque nobis, sapiente architecto perferendis dignissimos ad similique tempore, id quasi laboriosam aperiam recusandae, eius eos!</p>
                    <a href="#" class="btn btn-primary login" role="button" data-toggle="modal" data-target="#login-modal">LET'S EXCHANGE</a>
                    <!-- BEGIN # MODAL LOGIN -->
                    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="container">
                            <div class="row form-wrapper ">
                                <div class="col-sm-12 col-md-offset-3">
                                    <div class="my-form">
                                        <div class="col-sm-6">
                                            <div class="info">
                                                <div id="carousel-id" class="carousel slide" data-ride="carousel">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                                                        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                                                        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                                                    </ol>
                                                    <div class="carousel-inner">
                                                        <div class="item">
                                                            <img src="img/icons/1496243924_disc-vinyl.png" class="img-responsive center-block" alt="">
                                                            <div class="container">
                                                                <div class="carousel-caption">
                                                                    <p>Who wants honey. And take my hand</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <img src="img/icons/1496243869_Music.png" class="img-responsive center-block" alt="">
                                                            <div class="container">
                                                                <div class="carousel-caption">
                                                                    <p> I lost where I began.. As far as you take me, that's where I believe.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item active">
                                                            <img src="img/icons/1496243895_ipod.png" class="img-responsive center-block" alt="">
                                                            <div class="container">
                                                                <div class="carousel-caption">
                                                                    <p>. And all I see is you.. Love, Love. </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-bg">
                                            <div class="main-form">
                                                <div role="tabpanel">
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li role="presentation" class="active">
                                                            <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Signup</a>
                                                        </li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active" id="login">
                                                            <form action="" method="get" accept-charset="utf-8">
                                                                <div class="datalogin">
                                                                    <p>Username</p>
                                                                </div>
                                                                <input class="form-control" type="email" name="" value="">
                                                                <div class="datalogin">
                                                                    <p>Password</p>
                                                                </div>
                                                                <input class="form-control" type="password" name="" value="">
                                                                <div class="checkbox">
                                                                    <input type="checkbox" name="" value=""> Remember. <a href="" title="">Forgot Password?</a></div>
                                                                <input class="btn btn-submit" type="submit" name="" value="Login">
                                                            </form>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="signup">
                                                            <form action="" method="get" accept-charset="utf-8">
                                                                <input class="form-control" type="text" name="" value="" placeholder="Full Name">
                                                                <input class="form-control" type="email" name="" value="" placeholder="Email">
                                                                <input class="form-control" type="password" name="" value="" placeholder="Password">
                                                                <div class="checkbox">
                                                                    <input type="checkbox" name="" value=""><a href="" title="">Send me Newsletter</a></div>
                                                                <input class="btn btn-submit" type="submit" name="" value="Sign up">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END # MODAL LOGIN -->
                </div>
            </div>
        </div>
    </div>
    </div>

