<div id="fh5co-work">
    <div class="container">
        <div class="row top-line">
            <div class="col-md-7 col-md-push-5 text-left intro">
                        <h5>{{3+3}}</h5>
                <h2>Exchange the vinyls you don't want anymore & discover new music. <span class="fh5co-highlight">Made with <i class="fa fa-heart"></i> by <a href="www.itswaxtime.com">Itswaxtime</a> </span></h2>
                <a class="btn btn-primary loginhome" role="button" data-toggle="modal" data-target="#login-modal">LOGIN</a>
                
<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="container">
        <div class="row form-wrapper ">
            <div class="col-sm-12 col-md-offset-3">
                <div class="my-form">
                    <div class="col-sm-6">
                        <div class="info">
                            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-id" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="img/icons/1496243924_disc-vinyl.png" class="img-responsive center-block" alt="">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>Who wants honey. And take my hand</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="img/icons/1496243869_Music.png" class="img-responsive center-block" alt="">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p> I lost where I began.. As far as you take me, that's where I believe.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img src="img/icons/1496243895_ipod.png" class="img-responsive center-block" alt="">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>. And all I see is you.. Love, Love. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-bg">
                        <div class="main-form">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a aria-controls="login" role="tab" data-toggle="tab" aria-expanded="true" data-target="#login">Login</a>
                                    </li>
                                    <li role="presentation">
                                        <a  aria-controls="signup" role="tab" data-toggle="tab" aria-expanded="false" data-target="#signup">Signup</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="login">
                                        <form action="" method="get" accept-charset="utf-8">
                                            <div class="datalogin">
                                                <p>Username</p>
                                            </div>
                                            <input class="form-control" type="email" name="" value="">
                                            <div class="datalogin">
                                                <p>Password</p>
                                            </div>
                                            <input class="form-control" type="password" name="" value="">
                                            <div class="checkbox">
                                                <input type="checkbox" name="" value=""> Remember. <a href="" title="">Forgot Password?</a></div>
                                            <a href="#/profile" class="btn btn-submit" type="button" target="_parent">LOGIN></a> 
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="signup">
                                        <form action="" method="get" accept-charset="utf-8">
                                            <input class="form-control" type="text" name="" value="" placeholder="Full Name">
                                            <input class="form-control" type="email" name="" value="" placeholder="Email">
                                            <input class="form-control" type="password" name="" value="" placeholder="Password">
                                            <div class="checkbox">
                                                <input type="checkbox" name="" value=""><a href="" title="">Send me Newsletter</a></div>
                                            <input class="btn btn-submit" type="submit" name="" value="Sign up">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->


            </div>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder ">
                <img alt="300x300 " src="img/portadas/disco1.png ">
                <div class="caption desc ">
                    <h4 href="#/disc">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder ">
                <img alt="300x300 " src="img/portadas/disco2.png ">
                <div class="caption desc ">
                    <h4 href="#/disc">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder ">
                <img alt="300x300 " src="img/portadas/disco3.png ">
                <div class="caption desc ">
                    <h4 href="#/disc">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder">
                <img alt="300x300 " src="img/portadas/disco4.png ">
                <div class="caption desc ">
                    <h4 href="#/disc">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder">
                <img alt="300x300 " src="img/portadas/disco5.png ">
                <div class="caption desc ">
                    <h4 href="#/disc">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder">
                <img alt="300x300 " src="img/portadas/disco6.png ">
                <div class="caption desc ">
                    <h4 href="#">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder">
                <img alt="300x300 " src="img/portadas/disco7.png ">
                <div class="caption desc ">
                    <h4 href="#">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder">
                <img alt="300x300 " src="img/portadas/disco8.png ">
                <div class="caption desc ">
                    <h4 href="#">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 ">
            <a href="#/disc" class="thumbnail boxborder">
                <img alt="300x300 " src="img/portadas/disco9.png ">
                <div class="caption desc ">
                    <h4 href="#">DISC TITLE</h4>
                    <p> Disc description</p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
<div id="fh5co-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Get Started</h2>
                <p>You're stuck in the middle (Yeah, yeah). Too low to get under (Yeah, yeah). You're stuck in the middle (Yeah, yeah). It's too high to get over (Yeah, yeah). I'm Asking Him To Change. I told you that you sure looked good, now. (Na Na Na, Na Na Na, Na Na,. They Follow The Pattern Of. You're stuck in the middle (Yeah, yeah).</p>
                <a href="#" class="btn btn-primary btn-lg login" role="button" data-toggle="modal" data-target="#login-modal">LET'S EXCHANGE</a> 
            </div>
        </div>
    </div>
</div>
</div>
