<div class="container">
    <div class="container target">
        <div class="row margenprofile">
            <div class="col-sm-3 ">
                <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive profilepicture" src="img/portadas/disco6.png"></a>
            </div>
            <div class="col-md-9 profileinfo">
                <h1 class="">HI Wally</h1>
                <h3>Any new vinyl you want to exchange?</h3> 
                <a type="button" href="#/search" class="btn searchmusicbutton"> FROM MY LIBRARY</a>
                <a type="button" href="#/panel" class="btn searchmusicbutton"> CAMERA</a>
            </div>
        </div>
        <br>
    </div>

    <div class"row">
        <div class="col-sm-6 col-sm-offset-3">
        <form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Descripction</legend>
    </div>
    <div class="control-group">
      <!-- Album description -->
      <label class="control-label"  for="username">Album Title</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
        <p class="help-block">Add the name of the album</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">Album Artist </label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block"> Add the name of the Artist / Band </p>
      </div>
    </div>
 

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
</form>


    </div>
</div>

