<div class="container searchbox">
    <div class="row">
        <!-- BEGIN SEARCH RESULT -->
        <div class="col-md-12">
            <div class="grid search">
                <div class="grid-body">
                    <div class="row">
                        <!-- BEGIN FILTERS -->
                        <div class="col-md-3 hidefilters">
                            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                            <hr>
                            <!-- BEGIN FILTER BY CATEGORY -->
                            <h4>By category:</h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Electronic</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Rock</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Pop</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Funk/Soul</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Jazz/blues</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Hip Hop</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Classical</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Reggae</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Latin</label>
                            </div>
                        </div>
                        <!-- END FILTERS -->
                        <!-- BEGIN RESULT -->
                        <div class="col-md-9">
                            <h2><i class="fa fa-file-o"></i> Result</h2>
                            <hr>
                            <!-- BEGIN SEARCH INPUT -->
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                <button class="btn btn-primary searchbutton" type="button"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <!-- END SEARCH INPUT -->
                            <p>Try to look what on our plataform, probably is your lucky day 👾>
                                <div class="padding"></div>
                                <div class="row orderby">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle orderby" data-toggle="dropdown">
                                                Order by <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Album Name</a></li>
                                                <li><a href="#">Artist </a></li>
                                                <li><a href="#">Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->
                                </div>
                                <!-- BEGIN TABLE RESULT -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td class="number text-center"><strong>1</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco1.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>2</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco2.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>3</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco3.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>4</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco4.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>5</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco5.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>6</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco6.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>7</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco7.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>8</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco8.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>9</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco9.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                            <tr>
                                                <td class="number text-center"><strong>10</strong></td>
                                                <td class="image">
                                                    <a href="#/disc"><img src="img/portadas/disco10.png" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>ALBUM NAME</h3>
                                                    <p>Artist</p>
                                                    <p>Description</p>
                                                    <br>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END TABLE RESULT -->
                                <!-- BEGIN PAGINATION -->
                                <ul class="pagination">
                                    <li class="disabled"><a href="#">«</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                                <!-- END PAGINATION -->
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END SEARCH RESULT -->
    </div>
</div>
