<div class="container searchbox">
    <div class="row">
        <!-- BEGIN SEARCH RESULT -->
        <div class="col-md-12">
            <div class="grid search">
                <div class="grid-body">
                    <div class="row">
                        <!-- BEGIN FILTERS -->
                        <div class="col-md-3 hidefilters">
                            <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                            <hr>
                            <!-- BEGIN FILTER BY CATEGORY -->
                            <h4>By category:</h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Electronic</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Rock</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Pop</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Funk/Soul</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Jazz/blues</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Hip Hop</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Classical</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Reggae</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="icheck"> Latin</label>
                            </div>
                        </div>
                        <!-- END FILTERS -->
                        <!-- BEGIN RESULT -->
                        <div class="col-md-9">
                            <h2><i class="fa fa-file-o"></i> Result</h2>
                            <hr>
                            <!-- BEGIN SEARCH INPUT -->
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="query">
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                            <!-- END SEARCH INPUT -->
                            <p>Try to look what on our plataform, probably is your lucky day 👾>
                                <div class="padding"></div>
                                <div class="row orderby">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6" >
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle orderby" data-toggle="dropdown">
                                                Order by <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Album Name</a></li>
                                                <li><a href="#">Artist </a></li>
                                                <li><a href="#">Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->
                                </div>
                                <!-- BEGIN TABLE RESULT -->
                                <div class="table-responsive" ng-repeat="deal in waxdeals | filter: query">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td class="number text-center"><strong>{{1+1}}</strong></td>
                                                <td class="image">
                                                    <a href="#/disc" data-toggle="modal" data-target="#modalrecord_{{ deal._id }}"><img src="{{deal.image}}" alt=""> </a>
                                                </td>
                                                <td class="vinylproduct">
                                                    <h3>{{deal.Albumtitle}}</h3>
                                                    <p>{{deal.ArtistAlbum}}</p>
                                                    <h4>User: Wally Torres</h4>
                                                    <div>
                                                        <p>Media Condition: Very Good Plus (VG+)</p>
                                                        <p>Sleeve Condition: Good Plus (G+) </p>
                                                    </div>
                                                </td>
                                                <!-- td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td> -->
                                            

                                               <div ng-include="'templates/includes/recordmodal.html'"></div>
                                               </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END TABLE RESULT -->
                        </div>
                        <!-- END RESULT -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END SEARCH RESULT -->
    </div>
</div>
<div id="fh5co-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Get Started</h2>
                <p>You're stuck in the middle (Yeah, yeah). Too low to get under (Yeah, yeah). You're stuck in the middle (Yeah, yeah). It's too high to get over (Yeah, yeah). I'm Asking Him To Change. I told you that you sure looked good, now. (Na Na Na, Na Na Na, Na Na,. They Follow The Pattern Of. You're stuck in the middle (Yeah, yeah).</p>
                <a class="btn btn-lg login" role="button" data-toggle="modal" data-target="#login-modal">LET'S EXCHANGE</a> 


            </div>
        </div>
    </div>
</div>
</div>
