<!-- Beggining of Log In Modal -->
<div class="modal fade" id="login">
    <div class="modal-dialog modal-md">
        <div class="modal-content loginstyle">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h2>Welcome to waxdeal</h2>
            </div>
            <div class="container">
                <div class="modal-body loginstylebody col-md-3">
                    <form method="post" action='' name="login_form">
                        <div>
                            <h5> Username</h5>
                            <input type="text" class="span3 inputdatalogin" name="userName" id="userName" placeholder="mail">
                        </div>
                        <div>
                            <h5> Password</h5>
                            <input type="password" class="span3 inputdatalogin" name="password" placeholder="Password">
                        </div>
                        <div >
                        <a type="button" onclick="window.location.href='#!/admin'" data-dismiss="modal" class="btn loginbuttonmodal">Login</a>
                         </div>
                    </form>
                </div>
                <div class="modal-footer  signuppart loginstylefooter col-md-3 loginstyletext">
                    <h4>Are you new in our community? Join us and exchange the music you don't use anymore </h4>
                    <a href="#" class="btn signupbuttonmodal" data-toggle="modal" data-target="#newUser" class="close" data-dismiss="modal">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Log In Modal -->
