<div class="container modal fade" id="modalrecord_{{ deal._id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 margindisc">
            <div class="row">
                <div class="col-sm-6 imagemargindisc">
                    <div class="panel panel-white post">
                        <div class="post-image">
                            <img src="{{deal.image}}" class="image" alt="image post">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 post-heading panel panel-white post commentsstylemodal">
                    <div class="post-description">
                       <button type="button" style="color=black" class="close recordmodalclose" data-dismiss="modal">&times;</button>
                        <h4> {{deal.Albumtitle}} </h4>
                        <h4> {{deal.ArtistAlbum}}</h4>
                        <div class="stats">
                            <a href="javascript:void(0);" class="btn btn-default stat-item">
                                <i class="fa fa-thumbs-up icon"></i>228
                            </a>
                            <a href="javascript:void(0);" class="btn btn-default stat-item">
                                <i class="fa fa-share icon"></i>128
                            </a>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="input-group">
                            <input class="form-control" placeholder="Add a comment" type="text">
                            <span class="input-group-addon">
                                <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>  
                            </span>
                        </div>
                        <ul class="comments-list">
                            <li class="comment">
                                <a class="pull-left" href="javascript:void(0);">
                                    <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user"> Carlos Hernández</h4>
                                        <h5 class="time">7 minutes ago</h5>
                                    </div>
                                    <p>I really want disc vinyl, I have some material to exhcange.</p>
                                </div>
                            </li>
                            <li class="comment">
                                <a class="pull-left" href="javascript:void(0);">
                                    <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user">Wally Torres</h4>
                                        <h5 class="time">3 minutes ago</h5>
                                    </div>
                                    <p> I m interested in what you want, I will check your profile</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
