<div class="container">
    <div class="col-md-10 col-md-offset-1 main" id="register">
        <div class="col-md-6 left-side">
            <h3>How far can I go?</h3>
            <p>Join and become part of a large group of music collector. </p>
            <ul>
              <li>Help, not just anybody. Ah, look at all the lonely people.</li>
              <li>How do I feel by the end of the day?. Uh oh, many, many, many, nights go by.</li>
              <li>All the lonely people. What do I do when my love is away?</li>
            </ul>
            <br>
        </div>
        <!--col-sm-6-->
        <div class="col-md-6 right-side">
            <h3>REGISTER</h3>
            <!--Form with header-->
            <div class="form">
                <form ng-submit="register($event)">
                    <div class="form-group">
                        <label for="form2">Your usersname / e-mail</label>
                        <input ng-model="username" type="text" id="username" class="form-control input-lg">
                    </div>
                    <div class="form-group">
                        <label for="form4">Your password</label>
                        <input ng-model="password" type="password" id="password" class="form-control input-lg">
                    </div>
                    <div class="text-xs-center">
                        <button class="registerbutton">REGISTER</button>
                    </div>
                </form>
            </div>
            <!--/Form with header-->
        </div>
        <!--col-sm-6-->
    </div>
    <!--col-sm-8-->
</div>
<!--container-->
