<div id="fh5co-author">
    <div class="container">
        <div class="row top-line animate-box">
            <div class="col-md-8 col-md-push-2 text-left fh5co-heading">
                <h2>About Us</h2>
                <p>In My Life, I've loved them all. (1409607566242). Honey pie, honey pie. Still my guitar gently weeps. I sit alone at home and I cry over you. (1409607566242). I look at the floor and I see it needs sweeping.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="author">
                    <div class="author-inner animate-box" style="background-image: url(img/portadas/disco15.png);">
                    </div>
                    <div class="desc animate-box">
                        <span>Exchange your vinyls &amp; enjoy</span>
                        <h3>WAX DEAL</h3>
                        <p>I can't get no satisfaction.. and he's tellin' me more and more. I can't get no, oh no no no.. Hmm. I must admit you broke my heart. 'Cause I try and I try and I try and I try.. (1409607566242). I, I, I, I, I, I. When I'm drivin' in my car.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p><img src="img/about.png" class="img-responsive" alt="wax deal by itswaxtime"></p>
                <div class="testimony animate-box">
                    <blockquote>
                        <p>&ldquo;The best way to get new music in vinyl format and get to know people with similar tastes os music&rdquo;</p>
                        <p class="person">
                            <cite>&mdash; Job Smith </cite> DISCOGS &mdash;</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div id="fh5co-started">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Get Started</h2>
                <p>You're stuck in the middle (Yeah, yeah). Too low to get under (Yeah, yeah). You're stuck in the middle (Yeah, yeah). It's too high to get over (Yeah, yeah). I'm Asking Him To Change. I told you that you sure looked good, now. (Na Na Na, Na Na Na, Na Na,. They Follow The Pattern Of. You're stuck in the middle (Yeah, yeah).</p>
                <a class="btn btn-lg login" role="button"  data-toggle="modal" data-dismiss="modal" data-target="#login">LET'S EXCHANGE</a> 
                <div ng-include="'templates/includes/login.html'"></div>
            </div>
        </div>
    </div>
</div>
</div>
