<div class="container">
    <hr class="">
    <div class="container target">
        <div class="row">
            <div class="col-sm-3 ">
                <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive profilepicture" src="img/portadas/disco6.png"></a>
            </div>
            <div class="col-sm-offset-1 col-md-8 profileinfodisc">
                <h1 class="">Wally Torres</h1>
                <p>Young, wild and free.
                    <br> It's the most beautiful lie that you've ever been told. </p>
                <button type="button" class="btn btn-success borderbuttonprofile contactmebutton">Contact me!</button>
                <button type="button" class="btn btn-info borderbuttonprofile followmemebutton">Follow my collection</button>
                <br>
                <button type="button" class="btn btn-info searchmusicbuttondisc"> <a href="search.html" style="color:#fff;">Search for music</a></button>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="container">
    <div class="row margindisc">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-white post">
                        <div class="post-heading">
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <h3> Disc Title </h3>
                                    <h5> Artist </h5>
                                </div>
                            </div>
                        </div>
                        <div class="post-image">
                            <img src=""><img src="img/portadas/disco11.png" class="image" alt="image post">
                        </div>
                        <div class="post-description">
                            <h4>Disc Conditions</h4>
                            <p>When I met you. The voice of doom was shining in my room. From New York to shanty town</p>
                            <div class="stats">
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>228
                                </a>
                                <a href="javascript:void(0);" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="input-group">
                                <input class="form-control" placeholder="Add a comment" type="text">
                                <span class="input-group-addon">
                                <a href="javascript:void(0);"><i class="fa fa-edit"></i></a>  
                            </span>
                            </div>
                            <ul class="comments-list">
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user"> Carlos Hernández</h4>
                                            <h5 class="time">7 minutes ago</h5>
                                        </div>
                                        <p>I really want disc vinyl, I have some material to exhcange.</p>
                                    </div>
                                </li>
                                <li class="comment">
                                    <a class="pull-left" href="javascript:void(0);">
                                        <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">Wally Torres</h4>
                                            <h5 class="time">3 minutes ago</h5>
                                        </div>
                                        <p> I m interested in what you want, I will check your profile</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
