<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="fh5co-top-logo">
                <div id="fh5co-logo"><img class="logowax" src="img/logo/logowaxdeal2.png" href="/"><a href="/">WAX DEAL</a></div>
            </div>
            <div class="fh5co-top-menu menu-1 text-center">
                <ul>
                    <li><a href="#!/about">ABOUT US </a></li>
                    <li><a href="#!/contact">CONTACT</a></li>
                    <li><a role="button" data-toggle="modal" data-target="#login-modal" > --> LOGIN <-- </a></li>
                    <li><h5>{{3+3}}</h5></li>
                </ul>
            </div>
            <div class="fh5co-top-social menu-1 text-right">
                <ul class="fh5co-social">
                    <li><a href="https://www.instagram.com/itswaxtime/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.mixcloud.com/itswaxtime/"><i class="fa fa-mixcloud"></i></a></li>
                    <li><a href="https://www.facebook.com/itswaxtime/"><i class="fa fa-facebook-official"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
